<!-- H1 -->
<p style="font-size:40px;color:blue;line-height:25px;margin-top:40px;margin-bottom:10px">
    <b>Question #1</b>
</p>
<br>

## Add 3 New Columns to the below df
See [This Google Sheet](https://docs.google.com/spreadsheets/d/1f71aepuU2NvJI1EoFWpl3eCxypLFokJGNOdwIz8Xj1o/edit#gid=1038614599) for an example of how I would like these calculated
- same_gaps_last45
- same_gaps_covered60_last45
- same_gaps_covered60_last45_pct

In [17]:
from datetime import datetime
import pandas as pd
import numpy as np

df = pd.read_csv ('Question 1 - Table.csv')

df = df[[
    'date',
    'symbol',
    'pos_type',
    'fut_gap_filled',
    ]]

df['date'] = pd.to_datetime(df['date'])

df

          date symbol pos_type  fut_gap_filled
0   2016-01-06   AAPL     long       -0.158137
1   2016-01-06   NFLX     long        4.324890
2   2016-01-07   AAPL     long       -0.282183
3   2016-01-07   MSFT     long       -0.414820
4   2016-01-07   TSLA     long       -0.123711
..         ...    ...      ...             ...
616 2021-01-21      F    short       -0.619048
617 2021-01-25   AAPL    short        0.632499
618 2021-01-27   MSFT    short        0.386245
619 2021-01-28   TSLA     long       -0.365942
620 2021-01-28   NFLX    short       -0.592062

[621 rows x 4 columns]

In [18]:
#same_gaps_last45

timestamp = pd.Series([i.timestamp() for i in df['date']])
        
def same_gaps_last45(row): 
        
    if row['date'] != "":
        
        _ = df[
            (df['symbol'] == row['symbol']) & 
            (df['pos_type'] == row['pos_type']) & 
            (row['date'].timestamp() > timestamp) &             
            (timestamp > row['date'].timestamp()-3888000.0)]
            
        return len(_)

df["same_gaps_last45"] = df.apply(lambda row: same_gaps_last45(row), axis=1)

df

          date symbol pos_type  fut_gap_filled  same_gaps_last45
0   2016-01-06   AAPL     long       -0.158137                 0
1   2016-01-06   NFLX     long        4.324890                 0
2   2016-01-07   AAPL     long       -0.282183                 1
3   2016-01-07   MSFT     long       -0.414820                 0
4   2016-01-07   TSLA     long       -0.123711                 0
..         ...    ...      ...             ...               ...
616 2021-01-21      F    short       -0.619048                 2
617 2021-01-25   AAPL    short        0.632499                 2
618 2021-01-27   MSFT    short        0.386245                 0
619 2021-01-28   TSLA     long       -0.365942                 2
620 2021-01-28   NFLX    short       -0.592062                 0

[621 rows x 5 columns]

In [19]:
#same_gaps_covered60_last45

timestamp = pd.Series([i.timestamp() for i in df['date']])

def same_gaps_covered60_last45(row):
    
    if row['date'] != "":
        
        _ = df[
            (df['symbol'] == row['symbol']) & 
            (df['pos_type'] == row['pos_type']) & 
            (df['fut_gap_filled'] >= 0.6) & 
            (row['date'].timestamp() > timestamp) & 
            (timestamp > row['date'].timestamp()-3888000.0)]
        
        return len(_)

df["same_gaps_covered60_last45"] = df.apply(lambda row: same_gaps_covered60_last45(row), axis=1)

df

,date,symbol,pos_type,fut_gap_filled,same_gaps_last45,same_gaps_covered60_last45
0,2016-01-06,AAPL,long,-0.158137,0,0
1,2016-01-06,NFLX,long,4.324890,0,0
2,2016-01-07,AAPL,long,-0.282183,1,0
3,2016-01-07,MSFT,long,-0.414820,0,0
4,2016-01-07,TSLA,long,-0.123711,0,0
...,...,...,...,...,...,...
616,2021-01-21,F,short,-0.619048,2,0
617,2021-01-25,AAPL,short,0.632499,2,0
618,2021-01-27,MSFT,short,0.386245,0,0
619,2021-01-28,TSLA,long,-0.365942,2,0
620,2021-01-28,NFLX,short,-0.592062,0,0

In [20]:
#same_gaps_covered60_last45_pct

def same_gaps_covered60_last45_pct(row):
    
     if row['date'] != "":
            try:
                return int(row['same_gaps_covered60_last45'] / row['same_gaps_last45'])
            except ZeroDivisionError:
                return np.nan
            
df["same_gaps_covered60_last45_pct"] = df.apply(lambda row: same_gaps_covered60_last45_pct(row), axis=1)

df

,date,symbol,pos_type,fut_gap_filled,same_gaps_last45,same_gaps_covered60_last45,same_gaps_covered60_last45_pct
0,2016-01-06,AAPL,long,-0.158137,0,0,NaN
1,2016-01-06,NFLX,long,4.324890,0,0,NaN
2,2016-01-07,AAPL,long,-0.282183,1,0,0.0
3,2016-01-07,MSFT,long,-0.414820,0,0,NaN
4,2016-01-07,TSLA,long,-0.123711,0,0,NaN
...,...,...,...,...,...,...,...
616,2021-01-21,F,short,-0.619048,2,0,0.0
617,2021-01-25,AAPL,short,0.632499,2,0,0.0
618,2021-01-27,MSFT,short,0.386245,0,0,NaN
619,2021-01-28,TSLA,long,-0.365942,2,0,0.0
620,2021-01-28,NFLX,short,-0.592062,0,0,NaN